<!--
    * 400.html 
    * Autor: Vojtech Fiala <xfiala61>
    *
    # Soucast bakalarske prace Databaze Vysilani Ceskoslovenske Televize, 2022
    *
    * Chybova hlaska pro bad request -- neco se delo spatne
-->


{% extends "base.html" %}   <!-- Hlavicka -->

{% block pagetitle %}Databáze vysílání Československé televize -- 400{% endblock %}    <!-- Nazev stranky -->
{% block title %}Databáze vysílání Československé televize{% endblock %}    <!-- Titul stranky -->

{% block body %}    <!-- Telo stranky -->

<div class="container">
    <div class="text-center" style="padding: 1em;">
        <h1>
            Došlo k chybě!
        </h1>
        <h2>
            Error 400 - Špatná žádost!
        </h2>
        Pravděpodobně se pokoušíte o něco, co byste neměli a nebo jste něco zadali špatně.
    </div>
</div>

{% endblock %}
